
<div class="slider-container">
    <ul id="sortable-images" class="slider" >
        {% for item in items %}
            <li value="{{item.id}}">
                <div class="thumb-body">            
                    <img src="{{ asset(item.media.path|imagine_filter('thumb_product_gallery')) }}">
                
                    <div class="caption">

                        {{item.media.name}}
                        <div>
                            <a href="{{ path(edit_route, { 'id' : item.id, 'product': product.id }) }}">
                                {{ 'edit'|trans }}
                            </a>
                            {% if delete_route %}
                                <a href="{{ path(delete_route, { 'id' : item.id, 'product': product.id }) }}">
                                    {{ 'delete'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <a class="slider-control slider-left"><i class="ionicons ion-chevron-left"></i></a>
    <a class="slider-control slider-right"><i class="ionicons ion-chevron-right"></i></a>
</div>